<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5>w3earth founded in 2008, website basically a educator and researcher into digitalisation with JavaScript & Python and related frameworks or libraries. Rajib Ganguly, has almost 19 years experience in web/ app development and designing, who is the founder of this website. Continues growth with our well-wishers.</h5>
        <p>Actively participated various Front end innovation</p>
        <address>Pune, <strong>Maharastra</strong> | Bangalore, <strong>Karnataka</strong> | Kolkata, <strong>West Bengal</strong></address>
        <div>Call Me: 91+ 821-752-8181</div>
        <div>Write Me: rajibganguly@w3earth.link</div>
        <div><a href="https://wa.me/8217528181">Connect to <strong>what`sApp</strong></a></div>
      </div>
      <div class="col l2 offset-6 s12">
        <h5>Our social signature</h5>
        <ul>
          <li><a href="https://www.facebook.com/w3earth">Facebook</a></li>
          <li><a href="https://www.linkedin.com/company/14435266/admin/">Linkdin</a></li>
          <li><a href="https://olympus.mygreatlearning.com/eportfolio"><mat-icon>android</mat-icon></a></li>
          <li><a href="https://www.behance.net/w3earth/projects">Behance</a></li>
        </ul>
      </div>
      <div class="col l2 s12">
        <h5>Introduction</h5>
        <video id="introduction" preload="auto" style="width:250px" controls>
          <source src="../../assets/images/new_creative_video.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <p>I’m Rajib Ganguly, and I’m excited to be part of this incredible team. With over fifteen years of experience as a UX Front-End Developer & Designer, I specialize in creating user-focused web applications using a diverse tech stack that includes Angular, React, Node.js, and Python. My journey has involved working on projects for leading global organizations such as Barclays, Microsoft, Walmart, and American Express, where I honed my skills in application development, user experience design, and performance optimization.
          I hold a postgraduate degree in Artificial Intelligence and Machine Learning, which complements my technical expertise and reflects my passion for staying at the forefront of innovation. I’m also a certified Agile Scrum Master, experienced in collaborating across teams to deliver impactful, scalable solutions.
          Beyond my technical skills, I value simplicity and people, which I bring to both my professional and personal interactions. My aim is to contribute to the company’s growth by leveraging my skills in problem-solving, design, and cutting-edge technologies.
          I look forward to collaborating with you all and achieving great things together!
          </p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2023-25 All Copyright Reserved
    <a class="right" href="#!">Best at 1200px resolution or more bigger screen. Otherwise you will miss many things.</a>
    </div>
  </div>
</footer>
