.zcontact {
  background: url('./../../../../assets/images/nasa-3d-printed-habitat-mars-competition-design_dezeen_2364_hero-2.jpg') center bottom no-repeat;
  color:#fff;
}

.fa5 {
  font-size: 5rem;
  padding: 1rem;
}
.fa2 {
  font-size: 2rem;
  display:inline-block;
  vertical-align: middle;
}
