<div class="container">
  <div class="page-margin-top">
    <h1>Contact Us</h1>
    <div class="row">
      <div class="col-md-3 col-xs-12" *ngFor="let card of cardsDetailsInContact">
        <!-- Card design -->
        <div class="card card-panel hoverable">
          <div class="card-image">
            <img src="{{card.imagePath}}" class="animate__animated animate__bounce" alt="">
          </div>
          <div class="card-title px-3 pt-3">{{card.title}}</div>
          <div class="d-flex justify-content-between align-content-center p-3">
            <p>{{card.description}}</p>
          </div>

          <!-- <div class="d-flex justify-content-between align-content-center">
            <a [href]="card.link" class="text-primary p-3" [title]="card.nameOfAuthor">Portfolio</a>
            <a href="#" [routerLink]="card.link2" class="text-success p-3">Details</a>
          </div> -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-md-4 col-xs-12 bg-warning-subtle">
        <h2 class="d-flex justify-content-center align-items-center">#hireSupport</h2>
        <!-- <img src="./../../../../assets/images/contact.jpg" class="img-fluid" alt="" /> -->
      </div>
      <div class="col-xl-6 col-md-8 col-xs-12">
        <figure>
          <figcaption>Download Resume</figcaption>
          <figcaption (click)="downloadCV()"><i class="fa fa-file-pdf-o fa5" style="cursor: pointer;" aria-hidden="true"></i></figcaption>
        </figure>
        <ol>
          <li>
            <h2>Company payroll:</h2>
            <p>When hired for a company's payroll, working will be 8 hours/day and Monday to Friday @Full-time, opportunity with the company preferably as permanent opportunity with company.</p>
          </li>
          <li>
            <h2>Project basis:</h2>
            <p>When hired for a C2H, Discuss details for the project and binding hours. It will not be based on specific working days or may be, even if it is open for weekdays and weekends or holidays, and discuss the duration (min 1 year) written contract.
            </p>
          </li>
          <li>
            <h2>Support:</h2>
            <p>This package will be a part payment based on weekly/ monthly, as it is for supporting requirements based on your choice.</p>
          </li>
          <li>
            <h2>Part-time:</h2>
            <p>Minor projects and small technical discussions come under it, which can be perform from remotely</p>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
