<div class="p-4 mt-8">
  <div class="container">
    <p class="display-4 txt-light" [innerHtml]="title"></p>
    <div class="row">
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP1:</strong> Download Resume</figcaption>
          <figcaption><i class="fa fa-file-pdf-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info" (click)="downloadCV()">Download CV!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP2:</strong> Evalute and Confirm</figcaption>
          <figcaption><i class="fa fa-podcast fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">Call now!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP3:</strong> Process for next</figcaption>
          <figcaption><i class="fa fa-clock-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">Interview scheduled!</button>
        </figure>
      </div>
      <div class="col-md-3 col-xs-12">
        <figure>
          <figcaption><strong class="fa2 d-block">STEP4:</strong> Contact and release offer</figcaption>
          <figcaption><i class="fa fa-id-card-o fa5" aria-hidden="true"></i></figcaption>
          <button type="button" class="btn btn-info">w3earth@outlook.com!</button>
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-xs-12 bg-warning-subtle">
        <img src="./../../../../assets/images/contact.jpg" class="img-fluid" alt="" />
        <!-- <div leaflet options></div> <leaflet [leafletOptions]="{ center: [51.505, -0.09] }"></leaflet> -->

      </div>
      <div class="col-md-8 col-xs-12">
        <ol>
          <li>
            <h2>Company payroll:</h2>
            <p>When hired for a company's payroll, working will be 8 hours/day and Monday to Friday @Full-time, opportunity with the company preferably as permanent opportunity with company.</p>
          </li>
          <li>
            <h2>Project basis:</h2>
            <p>When hired for a C2H, Discuss details for the project and binding hours. It will not be based on specific working days or may be, even if it is open for weekdays and weekends or holidays, and discuss the duration (min 1 year) written contract.
            </p>
          </li>
          <li>
            <h2>Support:</h2>
            <p>This package will be a part payment based on weekly/ monthly, as it is for supporting requirements based on your choice.</p>
          </li>
          <li>
            <h2>Part-time:</h2>
            <p>Minor projects and small technical discussions come under it, which can be perform from remotely</p>
          </li>
        </ol>
      </div>
    </div>


  </div>
</div>
