<div class="p-4">
  <mat-card class="w3card">
    <div class="row">
      <div class="col-xs-6 col-md-6 col-lg-6">
        <h3><span>W3earth Jobs</span></h3>
        <small>Android app</small>
        <p>Our app is designed to connect highly qualified individuals with top employers in various industries and
          locations around the world. Whether you're a recent graduate looking for your first international experience
          or a seasoned professional seeking new challenges, we've got you covered. With our easy-to-use search and
          apply feature, you can browse and apply to job openings that match your skills and experience. Don't miss out
          on your dream job abroad - download the w3earth jobs app today!</p>
      </div>
      <div class="col-xs-6 col-md-6 col-lg-6">
        <img class="img-fluid float-end"
          src="https://play-lh.googleusercontent.com/4sZdGS5_yRkajMg8c6nywePdiLXqlscb_WvAernos4zzgBh6Lat2YsKlZhczzIZBIiw=w240-h480-rw">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
        <a class="links" href="https://play.google.com/store/apps/details?id=io.w3earthjobs.starter" target="_blank">
          <img src="./../../../assets/images/get-play-store.png" alt="getOnStore">
        </a>
      </div>
    </div>
  </mat-card>
</div>
