<div class="container mt-8 min-height-page">
  <!-- Project -->
  <div class="row">
    <div class="col-xs-12 col-md-12 s12">
      <h1>List of Web Applications</h1>
    </div>
    <div class="col-xs-12 col-md-12 s12">
      <h2>Utility App</h2>
    </div>
    <div class="row">
      <div class="card" class="col-md-3 col-xs-12">
        <div class="card-body">
          <h5 class="card-title">Society App</h5>
          <mat-icon class="icon-style">settings_input_antenna</mat-icon>
          <h6 class="card-subtitle mb-2 text-body-secondary">society Riya-Gitanjali</h6>
          <p class="card-text">website app for society to track all activities like gate security, notification, maintanence payment and many more.</p>
          <a href="https://nextriyagitanjaliapp.vercel.app/" target="_blank" class="w3earthBtn">Go to applicatiom</a>
        </div>
      </div>
      <div class="card" class="col-md-3 col-xs-12">
        <div class="card-body">
          <h5 class="card-title">Utility App</h5>
          <mat-icon class="icon-style">account_balance_wallet</mat-icon>
          <h6 class="card-subtitle mb-2 text-body-secondary">W3e Expense Tracker</h6>
          <p class="card-text">
            The app track your all expenses and warn you end up the month.
          </p>
          <a href="/allapps" target="_blank" class="w3earthBtn">Go to applicatiom</a>
        </div>
      </div>
      <div class="card" class="col-md-3 col-xs-12">
        <div class="card-body">
          <h5 class="card-title">Utility App</h5>
          <mat-icon class="icon-style">swap_calls</mat-icon>
          <h6 class="card-subtitle mb-2 text-body-secondary">W3e library app</h6>
          <p class="card-text">The app gives you to add new books or magazine into library. Also it will help to see stocks</p>
          <a href="/allapps" target="_blank" class="w3earthBtn">Go to applicatiom</a>
        </div>
      </div>
      <div class="card" class="col-md-3 col-xs-12">
        <div class="card-body">
          <h5 class="card-title">Dating App</h5>
          <mat-icon class="icon-style">graphic_eq</mat-icon>
          <h6 class="card-subtitle mb-2 text-body-secondary">W3e DateXY</h6>
          <p class="card-text">For those who want to go abroad with ITI skills</p>
          <a href="/allapps" target="_blank" class="w3earthBtn">Go to applicatiom</a>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-12 s12">
      <h2>AI App</h2>
    </div>

  </div>
</div>
